{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block body %}



<form action="/signup" method="POST" style="margin: 100px;">
    <h2>SignUp</h2>

    <div class="col-sm-3 form-floating mb-3">
        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" >
        <label for="floatingInput">Email address</label>
      </div>

      <div class="col-sm-3 form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="First Name" name="firstname" >
        <label for="floatingInput">First name</label>
      </div>

      <div class="col-sm-3 form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="Last Name" name="lastname">
        <label for="floatingInput">Last name</label>
      </div>

      <div class="col-sm-3 form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
        <label for="floatingPassword">Password</label>
        </div>  
</div>  
<br>
<button type="submit" class="col-sm-3 btn btn-primary">Submit</button>  
</form>

{% endblock %}